{erl_opts,
 [debug_info, {src_dirs, ["test"]}]}.

{lfe_first_files, []}.

{deps_dir, ["deps"]}.

{eunit_compile_opts,
 [{src_dirs, ["test"]}]}.

{provider_hooks,
 [{pre, [{compile, {lfe, compile}}]}]}.

{deps,
 [{lfe, ".*",
   {git, "git://github.com/rvirding/lfe.git",
    {tag, "v0.10.1"}}},
  {lutil, ".*",
   {git, "https://github.com/lfex/lutil.git",
    {tag, "0.7.0"}}},
  {clj, ".*",
   {git, "https://github.com/lfex/clj.git",
    {tag, "0.3.0"}}},
  {ltest, ".*",
   {git, "git://github.com/lfex/ltest.git",
    {tag, "0.7.0"}}},
  %% {lcfg, ".*",
  %%  {git, "git://github.com/lfex/lcfg.git",
  %%   {tag, "0.1.0"}}},
  {jsx, ".*",
   {git, "git://github.com/talentdeficit/jsx.git",
    {tag, "2.8.0"}}},
  {mochiweb, ".*",
   {git, "git://github.com/mochi/mochiweb.git",
    {tag, "v2.12.2"}}}]}.
